*{
    box-sizing: border-box;
}
.product-list{
    display: none;
    position: absolute;
  }
  .subItem-list{
     display: none;
     position: absolute;
     top: -1px;
     left: 92px;
  } 
.list{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    list-style: none;
}
.list_item{
    display: inline-block;
    vertical-align: top;
    font-size:16px;
}
.product-list_item{
    display: block;
    border: solid 1px blue;
    position: relative;
}
.subItem-list_item{
    display: block;
    border: solid 1px blue;
}
.subItem-list_link{
    display: block;
    background-color: gray;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
.list_link{
    display: block;
    background-color: gray;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
.product-list_link{
    display: block;
    background-color: gray;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
.product-list_item:first-child{
    border-bottom: solid 0px blue;
}
.subItem-list_item:first-child{
    border-bottom: solid 0px blue;
}
.list_item:hover .product-list{
    display: block;
}
.product-list_item:hover .subItem-list{
    display: block;
}
.list_item:hover .list_link{
    background-color:lightblue;
}
.product-list_item:hover .product-list_link{
    background-color:lightblue;
}
.subItem-list_item:hover .subItem-list_link{
    background-color:lightblue;
}
.line{
    margin-bottom: 20px;
}